html {
background-color: #1c2a3d;
}

img {
width: 600px;
margin: 20px;
float: right;
}

body {
font-family: "Garamond";
color: #FFFFFF;
}

a {
color: cyan;
font-weight: bold;
}

li {
font-family: "Garamond";
color: white;
font-size: 20px;
padding-top: 0px;
margin-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
}

h1 {
font-family: "Cursive";
color: white;
font-weight: bold;
font-size: 75px;
text-align: left;
margin-left: 0px;
margin-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
}

#fuzzy h1 {
padding-top: 45px;
}

h2 {
font-family: "Garamond";
color: white;
font-weight: bold;
font-size: 35px;
text-align: left;
padding-top: 0px;
margin-top: 0px;
padding-bottom: 5px;
margin-bottom: 5px;
}

h3 {
font-family: "Garamond";
color: white;
font-weight: bold;
font-size: 30px;
text-align: left;
padding-bottom: 0px;
margin-bottom: 0px;
}

p {
font-size: 20px;
text-align: justify;
width: 52%;
padding-top: 0px;
margin-top: 1px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.active{
  background-color: red;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-left: -28px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
  border-color: #1c2a3d;
  margin-bottom: 16px;
}
nav ul li {
  float: left;
  border-right: 1px solid black;
  font-size: 16px;
  font-weight: bold;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:not(.active):hover {
  background-color: black;
}
body:not(nav) {
  padding:20px;
  margin-top:30px;
  height:1500px;}

#fuzzy,
label {
font-size: 25px;
width: 75%;
padding-top: 0px;
margin-top: 1px;
padding-bottom: 0px;
margin-bottom: 0px;
}

select,
input:not(#IgnCap) {
  font-size: 20px;
}

.checks {
  list-style: none;
  padding-left: 16 px;
}

.checks li:before {
  content: '✓ ';
}
